.contMyShopping {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 5%;
    transition: all 0.2s ease;
    animation: born 0.5s linear;
    overflow: hidden;
}
.contMyShopping:hover {
    border-color: black;
}

.operInfo {
    /* border: 1px solid var(--border-color); */
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.operInfo > div {
    border: 1px solid var(--border-color);
    border-radius: 10px;
}
.infoUser {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    min-width: 0;
}
/* .infoUser:hover { */
    /* width:fit-content; */
/* } */
.divImg {
    /* border: 1px solid black; */
    width: 100px;
    aspect-ratio: 1/1;
}
.divImg > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;

}
.infoBuyer {
    width: 100%;
}
.infoBuyer > p {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SuccProd {
    /* width: 50%; */
    padding: 2%;
    margin: 2%;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
}
.SuccProd:hover {
    border: 1px solid black;
}
.SuccProd > h4 {
    padding: 0;
    margin: 0;
}
.titleProd {
    width: 40%;
    /* text-align: left; */
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    /* transform: translateX(100%);
    animation: textScroll 5s linear infinite; */
}
.infoSell {
    width: 20%;
}
.inforOper {
    width: 40%;
}


.status {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}





.contMiniOrder {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: 4%;
    padding: 2%;
    /* display: flex;
    flex-direction: column; */
    transition: all 0.2s ease;
}
.contMiniOrder:hover {
    border: 1px solid black;
}
.contMiniOrder:hover .buttonLinkMS {
    background-color: var(--background-button-color);
    color: white;
    border: 1px solid var(--border-color);
}
.contMiniOrder p {
    margin: 0;
    padding: 0;
}
/* .contMiniOrder > div {
    border: 1px solid green;
} */
.orderProductTitle {
    text-align: center;
    padding: 2%;
}
.titleProduct {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modelNbrand {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}
.priceXquanXtotal {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    /* align-items: center; */
    text-align: center;
}
.priceXquanXtotal  p {
    margin: 2% 0;
}
/* .prodButton {
    display: flex;
    justify-content: center;
} */
.buttonLinkMS {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: transparent;
    color: transparent;
    margin: 2%;
    padding: 3%;
    width: 45%;
    transition: all 0.2s ease;
}
.buttonLinkMS:hover {
    cursor: pointer;
    /* background-color: white; */
    /* color: black; */
    width: 60%;
    box-shadow: 0 0 10px 1px var(--border-color);
}
.contMiniOrder:hover .buttonLinkMS:active {
    background-color: white;
    color: black;
}
.link {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.header > div {
    /* border: 1px solid green; */
    width: 50%;
}
.contMapa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 500px; */
    /* padding-top: 200px; */
}
.titulo > h3 {
    padding-left: 10%;
}
.contMapa > h3 {
    padding-left: 2%;
}
.contMapa > div {
    padding-right: 2%;
    width: 20%;
    display: flex;
    justify-content: center;
    /* border: 1px solid var(--border-color); */
    padding: 0;
}
.buttonMapSelected {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5% 10%;
    background-color: var(--background-button-color);
    color: white;
}
.buttonMap:hover {
    cursor: pointer;
}
.buttonMap {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5% 10%;
    /* background-color: var(--background-button-color); */
    /* color: white; */
    background-color: white;
    color: black;
}
.buttonMapSelected:hover {
    cursor: pointer;
}
.mapa {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    margin-top: 15px;
    transform: translateX(-60%);
    box-shadow: 0 0 10px 5px var(--border-color);
    padding: 5%;
    backdrop-filter: blur(5px);
}
.mapaHidden {
    visibility: hidden;
    display: none;
}

@keyframes born {
    0% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes textScroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}