.no-data {
  text-transform: uppercase;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
}

.products-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 40rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  padding: 2rem;
}

.card img {
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.card img:hover {
  opacity: 70%;
 
}

.card h2 {
  line-height: 1.2;
  text-transform: capitalize;
  text-align: justify;
  word-break: keep-all;
  margin: .4rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.info h3 span {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: -1rem;
}

.price h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.buttons-cart button {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 4rem;
  cursor: pointer;
  padding: 0.7em 1.7em;
 
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
 transition: all .3s;
 box-shadow: 6px 6px 12px #c5c5c5;
}

.button-all{
  width: 200px;
 height: 50px;
 cursor: pointer;
 background: red;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 background: #e62222;
}

.button-all span {
  display: flex;
 align-items: center;
 justify-content: center;
  color: white;
  font-weight: bold;
}

.button-all:hover {
  background: #ff3636;
 }
