.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;

  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
}

.starData {
  position: absolute;
  font-weight: bolder;
}

.info {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  width: min-content;
}

.info img {
  cursor: pointer;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  word-break: keep-all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}
