.empty {
  text-transform: uppercase;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150vh;
}

.containerFather {
display:flex;
    margin:2rem 0 0 2rem;
}

.product_card {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin: 1%;
  padding: 1%;
  transition: all 0.2s ease;
    height: 350px
}

.product_card:hover {
  border: 1px solid black;
}

.product_title {
  /* display: inline; */
  width: 100%;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product_data {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.product_data img {
  border-radius: 10px;
  width: 100%;
  height: 50%;
  object-fit: contain;
  border: 1px solid black;
}

.star {
  cursor: pointer;
}