@keyframes ldio-dq0fl7ccams {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}


.ldio-dq0fl7ccams div { box-sizing: border-box!important }
.ldio-dq0fl7ccams > div {
  position: absolute;
  width: 144.71999999999997px;
  height: 144.71999999999997px;
  top: 28.139999999999997px;
  left: 28.139999999999997px;
  border-radius: 50%;
  border: 16.08px solid #000;
  border-color: #292664 transparent #292664 transparent;
  animation: ldio-dq0fl7ccams 1.25s linear infinite;
}

.ldio-dq0fl7ccams > div:nth-child(2), .ldio-dq0fl7ccams > div:nth-child(4) {
  width: 108.53999999999999px;
  height: 108.53999999999999px;
  top: 46.23px;
  left: 46.23px;
  animation: ldio-dq0fl7ccams 1.25s linear infinite reverse;
}
.ldio-dq0fl7ccams > div:nth-child(2) {
  border-color: transparent #667395 transparent #667395
}
.ldio-dq0fl7ccams > div:nth-child(3) { border-color: transparent }
.ldio-dq0fl7ccams > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-dq0fl7ccams > div:nth-child(3) div:before, .ldio-dq0fl7ccams > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 16.08px;
  height: 16.08px;
  top: -16.08px;
  left: 48.239999999999995px;
  background: #292664;
  border-radius: 50%;
  box-shadow: 0 128.64px 0 0 #292664;
}
.ldio-dq0fl7ccams > div:nth-child(3) div:after {
  left: -16.08px;
  top: 48.239999999999995px;
  box-shadow: 128.64px 0 0 0 #292664;
}

.ldio-dq0fl7ccams > div:nth-child(4) { border-color: transparent; }
.ldio-dq0fl7ccams > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-dq0fl7ccams > div:nth-child(4) div:before, .ldio-dq0fl7ccams > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16.08px;
  height: 16.08px;
  top: -16.08px;
  left: 30.15px;
  background: #667395;
  border-radius: 50%;
  box-shadow: 0 92.46px 0 0 #667395;
}
.ldio-dq0fl7ccams > div:nth-child(4) div:after {
  left: -16.08px;
  top: 30.15px;
  box-shadow: 92.46px 0 0 0 #667395;
}
.loadingio-spinner-double-ring-sps9acplpie {
  display: flex;
  overflow: hidden;
  /* background: #f1f2f3; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
  margin-left: 35rem;
}
.ldio-dq0fl7ccams {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dq0fl7ccams div { box-sizing: content-box; }