.userAside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 300px;
  height: 620px;

  border: 2px solid var(--border-color);
  border-width: 0 1px 0 0;
}

.userPage {
  /* border: 1px solid blue; */
  border: 1px solid var(--border-color);
  border-width: 1px 0 0 0;
  padding: 10px 10px 10px 30px;

  cursor: pointer;
}

.lastUserPage {
  /* border: 1px solid blue; */
  border: 1px solid var(--border-color);
  border-width: 1px 0 1px 0;
  padding: 10px 10px 10px 30px;

  cursor: pointer;
}

.logOutDiv {
  /* border: 1px solid green; */
  border: 1px solid var(--border-color);
  border-width: 1px 0 1px 0;
  padding: 10px 10px 10px 30px;

  cursor: pointer;
}
