@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.carousel {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;

 /* border: 2px solid aqua; */
 margin-top: 2%;
 margin-bottom: 2%;
 position: relative;
 height: 35vh;
 width: 84vw;
}

.section-one {
 display: flex;
 justify-content: center;
 align-items: center;
}

.image-text-container {
 /* border: 2px solid green; */
 border: 1px solid var(--border-color);
 border-radius: 10px;
 width: 60vw;
 height: 31.5vh;

 display: flex;
 flex-direction: row;
 align-items: center;
 /* justify-content: center; */

 text-decoration: none;
 color: black;
 font-family: "Raleway", sans-serif;
 transition: all 0.2s ease;
}
.image-text-container:hover {
    border: 1px solid black;
}

.image-carousel {
 width: 100%;
 height: 100%;
 object-fit: contain;
 border-radius: 8px;
}

.title-price-container {
 padding: 0px 36px;
}

.slide-name {
 /* position: absolute; */
 justify-content: center;
 display: flex;
 left: 10px;
 top: 2px;
}

.slide-price {
 /* position: absolute; */
 justify-content: center;
 display: flex;
 right: 10px;
 bottom: 10px;
}

.arrows {
 padding: 0px 40px;

 font-size: 30px;

 cursor: pointer;
 border: 1px solid transparent;
 border-radius: 100px;
 margin: 0 1%;
 padding: 0 2%;
 text-align: center;
 transition: all 0.2s ease;
}
.arrows:hover {
    border: 1px solid black;
    border-radius: 100px;
}

.right-arrow {
 /* position: absolute; */
 /* top: 50%; */
 /* right: 90px; */
 /* font-size: 3rem; */
 /* color: rgb(209, 50, 77); */
 /* z-index: 10; */
 /* cursor: pointer; */
 /* user-select: none; */
}

.left-arrow {
 /* position: absolute; */
 /* top: 50%; */
 /* left: 90px; */
 /* font-size: 3rem; */
 /* color: rgb(209, 50, 77); */
 /* z-index: 10; */
 /* cursor: pointer; */
 /* user-select: none; */
}

.slide {
 opacity: 0;
 transition-duration: 0.7s ease;
}

.slide-active {
 /* border: 2px solid blueviolet; */
 opacity: 1;
 transition-duration: 0.7s;
 transform: scale(1);
}

.section-two {
 display: flex;
 justify-content: space-evenly;

 /* border: 2px solid red; */
 width: 20vw;
}

.round-button {
 border: 1px solid black;
 /* outline: none; */
 border-radius: 50px;
 height: 9px;
 width: 9px;
 background-color: transparent;

 cursor: pointer;

 padding: 0px;
}
