.mainDiv {
  /* border: 1px solid red; */
  /* border-radius: 10px; */
  margin: 0 0 0 25px;

  display: flex;
  align-items: center;

  width: 103%;
  height: 100%;
}

.profilePicDiv {
  width: 90px;
}

.profilePic {
  border-radius: 8px;

  width: 90px;
}

.administratorNameDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border: 1px solid var(--border-color);
  border-width: 0 1px 0 0;
  margin: 5px;

  height: 70px;
  width: 160px;
}

.administratorP {
  margin: 0 0 0 8px;
}

.administratorH3 {
  margin: 0 0 0 10px;
}

.profileDiv {
  padding: 15px 20px;
  border: 1px solid var(--border-color);
  border-width: 0 1px 0 0px;
  /* border: 1px solid blue; */

  /* height: 50px; */

  transition: all 0.7s ease-out;

  cursor: pointer;
}

.profileDiv:hover {
  box-shadow: inset 0px 6px 4px -4px lightblue;
}

.logoutDiv {
  padding: 15px 20px;
  border: 1px solid var(--border-color);
  border-width: 0 0px 0 0px;
  /* border: 1px solid blue; */
  /* margin: 0 5px; */

  width: 60px;
  /* height: 50px; */

  transition: all 0.7s ease-out;

  cursor: pointer;
}

.logoutDiv:hover {
  box-shadow: inset 0px 6px 4px -4px plum;
}

.divBorder {
  border: 1px solid var(--border-color);
  border-width: 0 1px 0 0;
  margin: 0 7px;

  height: 70px;
}

.changeInterfaceButton {
  background-color: transparent;

  padding: 0 30px 0 5px;
  border: 1px solid var(--border-color);
  border-width: 1px 1px 1px 0;
  border-radius: 0px 8px 8px 0;
  /* border: 1px solid blue; */
  margin: 0 0 0 20px;

  height: 100px;
  width: 190px;

  align-self: flex-end;

  font-size: 16px;
  font-family: "Raleway", sans-serif;

  transition: all 0.5s ease-out;

  cursor: pointer;
}

.changeInterfaceButton:hover {
  box-shadow: 8px 0 7px -5px rgba(51, 48, 48, 0.2);
}

.logOutQuestionScreenDiv {
  position: absolute;

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  /* width: 100%; */
  /* height: 100%; */

  background-color: rgba(230, 230, 230, 0.3);
  /* border: 3px solid red; */
}

.logOutQuestionDiv {
  background-color: white;

  position: relative;

  left: 39%;

  padding: 15px 20px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin: 350px 0 0 0;

  width: 18%;
}

/* .logOutQuestion {
} */

.logOutContinue {
  background-color: transparent;

  padding: 3px 13px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  margin: 0 7px;

  font-family: "Raleway", sans-serif;
  font-size: 14px;

  transition: all 0.4s ease-in;

  cursor: pointer;
}

.logOutContinue:hover {
  background-color: black;

  color: whitesmoke;

  box-shadow: 0 0 8px 2px plum;
}

.logOutCancel {
  background-color: transparent;

  padding: 3px 13px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  margin: 0 7px;

  font-family: "Raleway", sans-serif;
  font-size: 14px;

  transition: all 0.4s ease-in;

  cursor: pointer;
}

.logOutCancel:hover {
  box-shadow: 0 0 8px 2px lightblue;
}
