/* .product_card {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 200px;
    height: 300px;
    transition: all 0.2s ease;
} */

.product_card {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin: 1%;
  padding: 1%;
  transition: all 0.2s ease;
  animation: born 0.5s linear;
}

.product_card:hover {
  border: 1px solid black;
}

 /* .product_card:hover {
  border: 1px solid black;
  width: 250px;
  height: 350px;
} */

.product_title {
  /* display: inline; */
  width: 100%;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .product_card > img {
    border-radius: 10px;
    width: 100%;
    height: 50%;
    object-fit: contain;
} */

.product_data {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.product_data img {
  border-radius: 10px;
  width: 100%;
  height: 50%;
  object-fit: contain;
  border: 1px solid black
}

.star {
  cursor: pointer;
}


@keyframes born {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}