.form {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

.form input {
  min-width: 80vh;
  height: 30px;
  margin: 10px;
  margin-left: 30px;
}

.form label {
  padding-left: 30px;
  color: #10182f;
}

h1 {
  color: #10182f;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.danger {
  text-transform: uppercase;
  color: #d11a2a;
  padding-left: 30px;
}

.contentSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contentSelect select::-ms-expand {
  display: none;
}

.contentSelect {
  max-width: 250px;
  position: relative;
}

.contentSelect select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #7b7b7b;
  font-size: 1em;
  color: #999;
  font-family: "Quicksand", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}

.contentSelect select:hover {
  background: #ffffff;
}

.contentSelect i {
  position: absolute;
  right: 20px;
  top: calc(50% - 13px);
  width: 16px;
  height: 16px;
  display: block;
  border-left: 4px solid gray;
  border-bottom: 4px solid gray;
  transform: rotate(-45deg); /* Giramos el cuadrado */
  transition: all 0.25s ease;
}

.contentSelect:hover i {
  margin-top: 3px;
}

.preview {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

.preview img {
  max-width: 100%;
  max-height: 100%;
}

.buttons {
  word-break: keep-all;
}

.buttons button,
.form input {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}
