@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.userContainer {
  /* border: 2px solid green; */

  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 2px; */
  /* padding: 2%; */
  width: 100%;
  height: 50px;
  /* border: 1px solid brown; */
}

.userNavDiv {
  /* background-color: aqua; */

  border: 1px solid var(--border-color);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 90%;
  height: 100%;
  padding: 2%;
  /* margin: 0; */
  cursor: pointer;
  transition: all 0.2s ease;
}
.userNavDiv:hover {
  border: 1px solid black;
}
/* .userNavDiv > div {
  border: 1px solid green;
} */
.visibleData {
  /* border: 1px solid violet; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  /* margin: 0; */
  /* padding: 2%; */
}
/* .visibleData > div {
  border: 1px solid red;
} */
/* .visibleData > p {
  border: 1px solid red;
} */

.imageDiv {
  /* height: 100%; */
  
  margin: 2%;
  /* padding: 6%; */
  
  /* border: 1px solid black; */
  border-radius: 40px;
  
  /* border: 1px solid red; */
  /* width: 30%; */
  /* height: 50px; */
  height: 100%;
  aspect-ratio: 1/1;
  /* object-fit: contain; */
  /* object-fit: contain; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.usernameDiv {
  width: 50%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  overflow: hidden;

}

.profilePic {
  border: 1px solid var(--border-color);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  margin: 0 1px 0 0;
  margin: 0;
  padding: 0;
}

.username {
  /* border: 1px solid green; */
  /* background-color: aqua; */
  /* width: 10%; */
  /* font-size: 20px; */
  padding: 0;
  margin: 0;
}

.hiddenUserMenu {
  visibility: hidden;
  display: none;
}

.userMenu {
  /* border: 2px solid blue; */

  position: absolute;
  margin-top: 360px;

  padding: 1%;
  border: 1px solid black;
  border-radius: 10px;

  z-index: 5;
  background-color: white;

  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  width: 200px;
}

.menuLink {
  text-decoration: none;
  margin-bottom: 4%;
  color: black;
  padding: 5%;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: left;
}
.menuLink:hover {
  cursor: pointer;
  border: 1px solid black;
  background-color: var(--background-button-color);
  color: white;
}
.userMenuButton {
  background-color: transparent;
  border: none;

  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-align: left;

  cursor: pointer;
}
