.aside {
  border: 1px solid var(--border-color);
  border-width: 0 1px 0 0;

  width: 380px;
  height: 98%;

  font-size: 20px;
}

.controlPanel {
  background: linear-gradient(to top, rgba(235, 246, 255, 0.3) 85%, white);

  padding: 30px 0 30px 50px;
  border: 1px solid var(--border-color);
  border-width: 0 0 1px 0;

  font-weight: 1000;
}

.optionNav {
  /* border: 1px solid red; */
  margin: 80px 0 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstOptionDiv {
  border: 1px solid var(--border-color);
  border-width: 0 0 1px 0;
  margin: 1px 30px 1px 1px;

  display: flex;
  justify-content: center;

  width: 300px;

  transition: all 0.3s ease;

  cursor: pointer;
}

.firstOptionDiv:hover {
  box-shadow: inset 0px -5px 4px -3px rgba(0, 0, 0, 0.1);
}

.optionDiv {
  border: 1px solid orange;
  border-width: 0 0 1px 0;
  margin: 1px 30px 1px 1px;

  display: flex;
  justify-content: center;

  width: 300px;

  cursor: pointer;
}

.lasOptionDiv {
  border: 1px solid orange;
  border-width: 0 0 1px 0;
  margin: 1px 30px 1px 1px;

  display: flex;
  justify-content: center;

  width: 300px;

  cursor: pointer;
}

.optionP {
  /* border: 1px solid green; */
  margin: 20px 20px 20px 30px;
  /* margin-left: 30px; */

  width: 250px;
}
