.contUserCard {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: 2%;
    display: flex;
    padding: 2%;
    justify-content: space-evenly;
}
.divImagen {
    width: 10%;
}
.divImagen > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.divBasicInfo {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
.divBasicInfo > p {
    width: 100%;
    align-self: center;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contUserCard > div > h3 {
    border-bottom: 1px solid black;
}
.divRol {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divStatus {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contUserCard > div {
    /* border: 1px solid red; */
    padding: 2%;
}
.divExtraInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-left: 1px solid black;
}
.divExtraInfo > div {
    display: flex;
    justify-content: space-evenly;
}

.select {
    padding: 5%;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    outline: none;
    transition: all 0.2s ease;
}
.select:hover {
    cursor: pointer;
    border: 1px solid black;
}


.button {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: 5%;
    padding: 5%;
    background-color: var(--background-button-color);
    color: white;
    width: 55%;
    transition: all 0.2s ease;
}
.button:hover {
    cursor: pointer;
    width: 80%;
    box-shadow: 0 0 10px 1px var(--border-color);
}
.button:active {
    background-color: white;
    color: black;
}

.wantToBeASeller {
    border-radius: 20px 20px 0 0;
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 5% 2%;
    background-color: var(--background-button-color);
    color: white;   
    animation: wantToBeASeller 2s infinite;
}

@keyframes wantToBeASeller {
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(0%);
    }
}