.contProDet {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: rgb(249, 246, 238); */
  /* margin-top: 2rem; */
  /* margin-bottom: 2rem; */
}
.publish {
  display: flex;
  justify-content: space-around;
}
.left {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 70%;
  margin: 2%;
  padding: 2%;
  /* margin: 1.5rem; */
  /* box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.1); */
  /* border-radius: 1rem; */
  /* overflow-y: scroll; */
  /* scrollbar-width: thin; */
  /* scrollbar-color: #6969dd #e0e0e0; */
  /* scrollbar-width: thin; */
  /* height: 40rem; */
}

.prodImgs {
  /* border: 1px solid green; */
  padding: 1%;
  display: flex;
}
.otherImgs {
  /* border: 1px solid blue; */
  width: 10%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.otherImgs > img {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin: 10% 0;
  transition: all 0.2s ease;
  object-fit: contain;
}
.otherImgs > img:hover {
  border: 1px solid black;
  cursor: pointer;
}
.otherImgs > img:active {
  /* padding: 20px; */
  width: 80%;
}
.mainImg {
  width: 90%;
  height: 400px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}
.mainImg > img {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  object-fit: contain;
}



.prodDetails {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 2%;
  margin-top: 1%;
}



.right {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 20%;
  margin: 2%;
  padding: 2%;
  /* margin: 1.5rem; */
  /* width: 40rem; */
  /* border-radius: 2rem; */
  /* background-color: #dbd9d9; */
  /* height: 40rem; */
}

.sellerInfo {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 5%;
  margin-bottom: 5%;
}
.shopping {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 5%;
}

.pricing {
  /* border: 1px solid green; */
  padding: 2%;
  margin-bottom: 5%;
}
/* .pricing > input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: red;
} */

.pricing > input[type="range"] {
  -webkit-appearance: none;
  /* margin-right: 15px; */
  /* width: 200px; */
  /* height: 7px; */
  /* background: rgba(255, 255, 255, 0.6); */
  /* border: 1px solid var(--border-color); */
  border-radius: 10px;
  background-color: var(--background-button-color);
  /* background-image: linear-gradient(#ff4500, #ff4500); */
  /* background-size: 70% 100%; */
  /* background-repeat: no-repeat; */
}


.pricing > input[type="range"]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  /* padding: 1%; */
  height: 6px;
  /* background: transparent; */
  /* background-color: red; */
  outline: 1px solid var(--border-color);
  outline-offset: 2px;
}
.pricing > input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--background-button-color);
  cursor: pointer;
  /* margin-top = (track height in pixels / 2) - (thumb height in pixels /2) */
  margin-top: -7px;
  outline: 1px solid var(--border-color);
  outline-offset: 2px;
  /* box-shadow: 0 0 2px 0 #555; */
  transition: all 0.2s ease;
}
.pricing > input[type="range"]::-webkit-slider-thumb:active {
  border: 1px solid var(--background-button-color);
  outline: 1px solid var(--background-button-color);
  background-color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.buttonProdDet {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 5%;
  margin: 5%;
  width: 80%;
  background-color: var(--background-button-color);
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s ease;
}
.buttonProdDet:hover {
  cursor: pointer;
  width: 100%;
  box-shadow: 0 0 10px 1px var(--border-color);
}
.buttonProdDet:active {
  background-color: white;
  color: black;
}
.buttonProdDet > .icon {
  filter: invert(100%);
}
.buttonProdDet:active > .icon {
  filter: invert(0%);
}





.comments {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin: 2%;
  padding: 2%;
}

.commentSec {
  border: 1px solid var(--border-color);
  background: whitesmoke;
  display: flex;
    align-items:center;
  margin: 2rem;
  border-radius: 5px;
  padding: 1rem;
}

.commentData {
  display: flex;
  margin-left: 1rem;
  justify-content: center;
  align-items:center;
  font-weight:bold;
}

.commentData h4 {
     display: flex;
  justify-content: center;
  align-items:center;
}

.commentData p {
    margin-left: 1rem;
}

.commentButtons {
    margin: 0 auto;
}

.commentButtons button {
   display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 5%;
  margin: 5%;
  width: 120%;
  background-color: var(--background-button-color);
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s ease;
}

.commentButtons button:hover {
    cursor: pointer;
     box-shadow: 0 0 10px 1px var(--border-color);
}

.score {
    margin:1rem 0 0.5rem 0;
}

.score > input[type="range"] {
  -webkit-appearance: none;
  /* margin-right: 15px; */
  /* width: 200px; */
  /* height: 7px; */
  /* background: rgba(255, 255, 255, 0.6); */
  /* border: 1px solid var(--border-color); */
  border-radius: 10px;
  background-color: var(--background-button-color);
  /* background-image: linear-gradient(#ff4500, #ff4500); */
  /* background-size: 70% 100%; */
  /* background-repeat: no-repeat; */
}

.score > input[type="range"]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  /* padding: 1%; */
  height: 6px;
  /* background: transparent; */
  /* background-color: red; */
  outline: 1px solid var(--border-color);
  outline-offset: 2px;
}

.score > input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--background-button-color);
  cursor: pointer;
  /* margin-top = (track height in pixels / 2) - (thumb height in pixels /2) */
  margin-top: -7px;
  outline: 1px solid var(--border-color);
  outline-offset: 2px;
  /* box-shadow: 0 0 2px 0 #555; */
  transition: all 0.2s ease;
}

.score > input[type="range"]::-webkit-slider-thumb:active {
  border: 1px solid var(--background-button-color);
  outline: 1px solid var(--background-button-color);
  background-color: white;
}

.descriptionComment {
    margin:1rem 0 0.5rem 0;
}

.descriptionComment > input[type="text"]{
    min-width: 80vh;
     height: 30px;
}

.submitComment {
    display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 10px;

  width: 10%;
  background-color: var(--background-button-color);
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s ease;
}
.submitComment:hover {
    cursor: pointer;
     box-shadow: 0 0 10px 1px var(--border-color);
}
/* .left::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.left::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

/* .top {
  display: flex;
  justify-content: space-around;
}

.images {
  margin: 0.5rem;
}

.mainimage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30rem;
  height: 40rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.thumb {
  display: inline;
  cursor: pointer;
  margin: 0 5px;
  height: 9rem;
  width: 6rem;
  border-radius: 0.25rem;
  border-style: none;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.thumb:hover {
  opacity: 70%;
}

.details {
  margin: 0.5rem;
}

.details h1 {
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
}

.details h2 {
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
  font-size: x-large;
}

.details p {
  margin: 0.4rem;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: justify;
  word-break: keep-all;
}

.bottom {
  margin: 0.5rem;
  background-color: #dbd9d9;
  border-radius: 0.5rem;
}

.comments h3 {
  margin-left: 0.5rem;
}

.comments p {
  margin: 0.4rem;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: justify;
  word-break: keep-all;
} */


/* .seller-info {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.seller-info img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
}

.seller-info h2 {
  margin: 10px 0;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.user-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2rem;
}

.shopping {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: bold;
}

.pricing {
  display: inline-block;
}

.total {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bolder;
}

.button-shopping {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
}

.add {
  background: #22e41b;
}
.delete {
  background: #e62222;
}

.button-shopping,
.button-shopping span {
  transition: 200ms;
}
.button-shopping .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.button-shopping .icon {
  position: absolute;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-shopping .add .icon {
  border-left: 1px solid #56be00;
}
.button-shopping .delete .icon {
  border-left: 1px solid #c41b1b;
}

.button-shopping img {
  width: 15px;
  fill: #eee;
}

.add:hover {
  background: #47ff36;
}

.delete:hover {
  background: #ff3636;
}

.button-shopping:hover .text {
  color: transparent;
}

.button-shopping:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.button-shopping:focus {
  outline: none;
}

.button-shopping:active .icon img {
  transform: scale(0.8);
} */


/*COMMENTS CSS*/

