.container {
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.left {
  margin: 1.5rem;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
  height: 40rem;
}

.left::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.left::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.top {
  display: flex;
  justify-content: space-around;
}

.images {
  margin: 0.5rem;
}

.main-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30rem;
  height: 40rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.thumb {
  display: inline;
  cursor: pointer;
  margin: 0 5px;
  height: 9rem;
  width: 6rem;
  border-radius: 0.25rem;
  border-style: none;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.thumb:hover {
  opacity: 70%;
}

.details {
  margin: 0.5rem;
}

.details h1 {
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
}

.details h2 {
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
  font-size: x-large;
}

.details p {
  margin: 0.4rem;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: justify;
  word-break: keep-all;
}

.bottom {
  margin: 0.5rem;
  background-color: #dbd9d9;
  border-radius: 0.5rem;
}

.comments h3 {
  margin-left: 0.5rem;
}

.comments p {
  margin: 0.4rem;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: justify;
  word-break: keep-all;
}

.right {
  margin: 1.5rem;
  width: 40rem;
  border-radius: 2rem;
  background-color: #dbd9d9;
  height: 40rem;
}

.seller-info {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.seller-info img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
}

.seller-info h2 {
  margin: 10px 0;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.user-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2rem;
}

.shopping {
  margin: 0.5rem;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: bold;
}

.pricing {
  display: inline-block;
}

.total {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bolder;
}

.button-shopping {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
}

.add {
  background: #22e41b;
}
.delete {
  background: #e62222;
}

.button-shopping,
.button-shopping span {
  transition: 200ms;
}
.button-shopping .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.button-shopping .icon {
  position: absolute;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-shopping .add .icon {
  border-left: 1px solid #56be00;
}
.button-shopping .delete .icon {
  border-left: 1px solid #c41b1b;
}

.button-shopping img {
  width: 15px;
  fill: #eee;
}

.add:hover {
  background: #47ff36;
}

.delete:hover {
  background: #ff3636;
}

.button-shopping:hover .text {
  color: transparent;
}

.button-shopping:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.button-shopping:focus {
  outline: none;
}

.button-shopping:active .icon img {
  transform: scale(0.8);
}
