.contenido {
    border: 1px solid black;
    position: relative;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.filters {
    border-right: 1px solid black;
    margin-right: 5px;
    padding: 10px;
}

/* .contenido > div {
    border: 1px solid red;
    width: 50%;
} */