.check {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem;
}
.check-right {
     display:flex;
    align-items: center;
    justify-content:center;
      flex-direction: column;
     margin-right: 3rem;
}


.map {
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
}

.check input {
  min-width: 80vh;
  height: 30px;
  margin: 10px;
  padding: 1% 2%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}
.check > input > option {
  color: red;
  font-size: 15px;
  
}

.check input:hover {
    border: 1px solid black;
}

.button {
     margin-top: 1rem;
     margin-bottom: 1rem;
    background-color: var(--background-button-color);
  color: white;
  border-radius: 10px;
  padding: 2% 3%;
  transition: all 0.2s ease;
  border: 1px solid var(--border-color);
}

.button:hover {
  cursor: pointer;
  padding: 2% 5%;
  box-shadow: 0 0 10px 1px var(--border-color);
}
.button:active {
  background-color: white;
  color: black;
}
.buttonDisabled {
  margin-top: 1rem;
  margin-bottom: 1rem;
 background-color: grey;
  color: white;
  border-radius: 10px;
  padding: 2% 3%;
  transition: all 0.2s ease;
  border: 1px solid var(--border-color);
}
.select-check {
 font-size: 1rem;
  display: inline-block;
  margin: 1rem 0;
  max-width: 85vh;
  background-color: transparent;
  position: relative;
  cursor: pointer;
   border-radius: 5px;
    text-transform:uppercase;
   padding: 0.5rem;
   width: 600px;
   overflow: hidden;
        
}

.select-check option {
    font-size: 15px;
      cursor: pointer;
   border-radius: 5px;
    text-transform:uppercase;
    width: 200px;
    white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
