.check {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}

.map {
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
}

.check input {
    margin-top: 1rem;
}

.check button {
     margin-top: 1rem;
     margin-bottom: 1rem;
}