.check {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}

.map {
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
}

.check input {
  min-width: 80vh;
  height: 30px;
  margin: 10px;
  padding: 1% 2%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.check input:hover {
    border: 1px solid black;
}

.check button {
     margin-top: 1rem;
     margin-bottom: 1rem;
    background-color: var(--background-button-color);
  color: white;
  border-radius: 10px;
  padding: 1%;
  transition: all 0.2s ease;
  border: 1px solid var(--border-color);
}

.check button:hover {
  cursor: pointer;
}

.select-check {
 font-size: 1rem;
  display: inline-block;
  margin: 1rem 0;
  width: 100vh;
  background-color: transparent;
  position: relative;
  cursor: pointer;
   border-radius: 5px;
    text-transform:uppercase;
   padding: 0.5rem;
        
}

.select-check option {
    font-size: 0.6rem;
      cursor: pointer;
   border-radius: 5px;
    text-transform:uppercase
}
