.leaflet_container {
    /* width: 700px;
    height: 500px; */
    width: 650px;
    height: 450px;
  }
  .contReg {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
  }
  .mapDiv {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5%;
    transition: all 0.2s ease;
  }
  .mapDiv:hover {
    border: 1px solid black;
  }
  .infoSuc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    padding-top: 0;
    margin-top: 0;
    /* border: 1px solid green; */
    width: 90%;
  }
  /* .infoSuc > div {
    width: 90%;
    border: 1px solid red;
  } */
  .button {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--background-button-color);
    color: white;
    width: 20%;
    padding: 1% 0;
    transition: all 0.2s ease;
  }
  .button:hover {
    cursor: pointer;
    width: 30%;
    box-shadow: 0 0 10px 1px var(--border-color);
  }
  .button:active {
    background-color: white;
    color: black;
  }
  .buttonDisabled {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: grey;
    color: white;
    width: 20%;
    padding: 1% 0;
  }