@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* "Raleway", sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
/* 'Comfortaa', cursive */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* 'Lato', sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* 'Montserrat', sans-serif */

.header {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: row; */

  width: 100%;
  height: 15vh;
  border: 1px solid green;
  background-color: white;

  border-bottom: solid black 3px;
  /* margin: 0; */
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding-top: 1%;
  /* z-index: 10; */
}

.sectionOne {
  /* border: 2px solid blue; */

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
}

.logoAndSB {
  /* border: 2px solid red; */
  /* padding-right: 15%; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

/* .logoLink { */
/* background-color: aqua; */
/* margin: 10px;
  border: 2px solid black;
  width: 100px;
  height: 40px;

  text-decoration: none;
  text-align: center;
  color: black; */
/* } */

/* .logo { */
/* display: inline;
  font-size: 30px; */
/* } */

/*///////////////////////////*/

.logoLink {
  display: flex;
  flex-direction: column;

  margin: 10px;
  border: 2px solid black;

  width: 100px;
  height: 40px;

  font-size: 30px;
  text-decoration: none;
  /* text-align: center; */
  color: black;
}

/* .logo { */
/* display: inline; */
/* display: flex; */
/* flex-direction: column; */
/* } */

.plus {
  /* border: 1px solid green; */
  margin: 3px 0 0 0;
}
.hardware {
  /* border: 1px solid orange; */
  margin: 1px 0 0 21px;
}

/*/////////////////////////////////////////*/

.navBarLinks {
  text-decoration: none;
  color: black;
  padding: 3% 7%;
  border-radius: 10px 10px 0 0;
}
.activeLink {
  /* background-color: var(--background-button-color); */
  border: 1px solid var(--border-color);
  border-bottom: none;
  color: black;
  text-decoration: none;
  padding: 3% 7%;
  border-radius: 10px 10px 0 0;
}

.navButtons {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid red; */
  width: 450px;
}

.categoriesButton {
  background-color: transparent;

  border-color: transparent;

  cursor: pointer;

  font-family: "Raleway", sans-serif;
  font-size: 17px;
}
.contCate > h3 {
  font-weight: 500;
}
.contCate:hover .categoriasChikito {
  visibility: visible;
}
.categoriasChikito {
  visibility: hidden;
  position: absolute;
  margin-top: 10px;
  padding: 1%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  z-index: 5;
  background-color: white;
  text-align: left;
}
.categoriasChikito > div {
  margin-top: 2%;
}
.enlace {
  text-decoration: none;
  color: black;
}
.enlace:hover {
  text-decoration: underline;
}

.sectionTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 40%;

  /* border: 2px solid red; */
}
/* .sectionTwo > div {
  border: 1px solid blue;
} */

.userOrLoginDiv {
  /* border: 2px solid lightblue; */

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40%;
  height: 50%;
  padding: 4px;
  margin: 1%;
}

.logAndSign {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}

.logIn {
  border-bottom: 1px solid black;
  padding: 0px 3px;

  text-decoration: none;
  color: black;
}

.signUp {
  background-color: black;

  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 8px;

  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
  /* var(--soft-shadow); */

  text-decoration: none;
  color: whitesmoke;
}

.cartDiv {
  width: 20%;
  /* border: 1px solid blue; */
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 2% 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.cartDiv:hover {
  border: 1px solid black;
  /* cursor: pointer; */
}
.cartDivInfo {
  /* border: 1px solid black; */
  width: 100%;
  padding-top: 7%;
  padding-bottom: 7%;
  /* height: 100%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cartDivInfo:hover {
  cursor: pointer;
}
.cartLink {
  display: flex;
  justify-items: center;
  align-items: center;
  /* width: 30%; */
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 20px;

  color: black;
  text-decoration: none;

  cursor: pointer;
}

.shoppCartMenu {
  position: absolute;
  margin: 600px 0 0 0;
  /* padding: 0; */
  /* backdrop-filter: blur(2px); */
  z-index: 5;
}
.shoppCartMenuHidden {
  display: none;
  visibility: hidden;
}
.buttonToAdmin {
  /* background-color: var(--background-button-color); */
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-left: none;
  border-radius: 0 10px 10px 0;
  color: black;
  padding: 7% 3%;
  transition: all 0.2s ease;
  font-size: 16px;
  /* font-weight: 100; */
}
.buttonToAdmin:hover {
  cursor: pointer;
  border-color: black;
}
