@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* "Raleway", sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
/* 'Comfortaa', cursive */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* 'Lato', sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* 'Montserrat', sans-serif */

.header {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */

  width: 100%;
  height: 15vh;

  /* background-color: #f72585; */

  border-bottom: solid black 3px;

  text-align: center;
  font-family: "Raleway", sans-serif;
}

.sectionOne {
  /* border: 2px solid blue; */

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.logoAndSB {
  /* border: 2px solid red; */

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 85%;
}

.logoLink {
  /* background-color: aqua; */
  margin: 10px;
  border: 2px solid black;
  width: 100px;
  height: 40px;

  text-decoration: none;
  text-align: center;
  color: black;
}

.logo {
  display: inline;
  font-size: 30px;
}

.navBarLinks {
  text-decoration: none;
  color: black;
}

.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 450px;
}

.categoriesButton {
  background-color: transparent;

  border-color: transparent;

  cursor: pointer;

  font-family: "Raleway", sans-serif;
  font-size: 17px;
}

.contCate:hover .categoriasChikito {
  visibility: visible;
}
.categoriasChikito {
  visibility: hidden;
  position: absolute;
  margin-top: 10px;
  padding: 1%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  z-index: 5;
  background-color: white;
  text-align: left;
}
.categoriasChikito > div {
  margin-top: 2%;
}
.enlace {
  text-decoration: none;
  color: black;
}
.enlace:hover {
  text-decoration: underline;
}

.sectionTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 25vw;

  /* border: 2px solid red; */
}
/* .sectionTwo > div {
  border: 1px solid blue;
} */

.userOrLoginDiv {
  /* border: 2px solid lightblue; */

  display: flex;
  justify-content: center;
  align-items: center;

  width: 75%;
height: 50%;
  padding: 4px;
  margin: 1%;
}

.logAndSign {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}

.logIn {
  border-bottom: 1px solid black;
  padding: 0px 3px;

  text-decoration: none;
  color: black;
}

.signUp {
  background-color: black;

  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 8px;

  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
  /* var(--soft-shadow); */

  text-decoration: none;
  color: whitesmoke;
}


.cartDiv {
  width: 30%;
  /* border: 1px solid blue; */
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 2% 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cartDiv:hover {
  border: 1px solid black;
  cursor: pointer;
}
.cartLink {
  display: flex;
  justify-items: center;
  align-items: center;
  /* width: 30%; */
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 20px;

  color: black;
  text-decoration: none;

  cursor: pointer;
}

.shoppCartMenu  {
  position: absolute;
  margin: 600px 0 0 0;
  /* padding: 0; */
  /* backdrop-filter: blur(2px); */
  z-index: 5;
}
.shoppCartMenuHidden {
  display: none;
  visibility: hidden;
}